@import '../../../styles/scss/variables.scss';

.theme-context {
  min-height: 100vh;
  height: 100%;
  background: no-repeat, linear-gradient(45deg, $color-byzantine, $color-purple, $color-persian-blue, $color-dodger-blue);
}