$color-flickr-pink: #f72585;
$color-byzantine: #b5179e;
$color-purple: #7209b7;
$color-trypan-blue: #480ca8;
$color-persian-blue: #3f37c9;
$color-ultramarine-blue: #4361ee;
$color-dodger-blue: #4895ef;
$color-vivid-sky-blue: #4cc9f0;
$color-black: #000;
$color-white: #fff;
